@font-face {
  font-family: "Euclid Circular A - Medium";
  src: url(./Fonts/Euclid\ Circular\ A\ Medium.ttf);
}

@font-face {
  font-family: "Euclid Circular A - Regular";
  src: url(./Fonts/Euclid\ Circular\ A\ Regular.ttf);
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./Fonts/Proxima\ Nova\ Font.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #f5faff;
  color: #161C26;
}

section {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #161c26;
}

a:hover {
  color: #000;
}

.ico {
  color: #49a05c;
}